{% extends "admin/bases.html" %}


{% block content %}

<div class="x-body">
    <form class="layui-form" action="" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">客户名称</label>
            <div class="layui-input-block">
                {{form.guest_name}}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                {{form.description}}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">订单总价(元)</label>
            <div class="layui-input-block">
                {{form.total}}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">已付款(元)</label>
            <div class="layui-input-block">
                {{form.pay}}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">已付款(元)</label>
            <div class="layui-input-block">
                {{form.unpay}}
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-label">订单明细</div>
            {% for detail in form.details %}
            <div class="layui-col-md6">
                类型：{{ detail.type_id }}<br>
                规格：{{ detail.item_id }}<br>
                单价(元)：{{ detail.price}}<br>
                数量：{{ detail.num}}<br>
                单位：{{ detail.unit}}
            </div>
            <div class="layui-col-md3" style="margin: auto"></div>
            {{detail.csrf_token}}
            {% endfor %}
        </div>
        {{form.csrf_token}}
        {{form.submit}}
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </form>
</div>

<script>
    layui.use('tree', function () {
        var tree = layui.tree;
        var treeEl = tree.render({
            elem: '#tree',
            showCheckbox: true,
            data: [
                {title: 'title1', children: [{title: 'subtitle11'}, {title: 'subtitle12'}, {title: 'subtitle13'}]},
                {title: 'title2', children: [{title: 'subtitle21'}, {title: 'subtitle22'}, {title: 'subtitle23'}]}
            ]
        });
    });
</script>
{% endblock %}