{% extends "admin/bases.html" %}


{% block content %}

<div class="x-body">
    <form class="layui-form" action="" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">客户名称</label>
            <div class="layui-input-block">
                {{form.name}}
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">客户手机号</label>
            <div class="layui-input-block">
                {{form.phone}}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客户区域</label>
            <div class="layui-input-block">
                {{form.addr}}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客户邮箱</label>
            <div class="layui-input-block">
                {{form.email}}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客户性别</label>
            <div class="layui-input-block">
                {{form.sex}}
            </div>
        </div>
        {{form.csrf_token}}
        {{form.submit}}
        <button onclick="goBack()" type="reset" class="layui-btn layui-btn-primary">返回</button>
    </form>
</div>
{% endblock %}