{% extends "admin/bases.html" %}


{% block content %}

<div class="x-body">
    <form class="layui-form" action="" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">类型名称</label>
            <div class="layui-input-block">
                {{form.name}}
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">类型描述</label>
            <div class="layui-input-block">
                {{form.description}}
            </div>
        </div>
        {{form.csrf_token}}
        {{form.submit}}
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </form>
</div>
{% endblock %}