{% extends "admin/bases.html" %}


{% block content %}

<div class="x-body">
    <form class="layui-form" action="" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">客户名称</label>
            <div class="layui-input-block">
                {{form.guest_name}}
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                {{form.description}}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                {{form.description}}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分类</label>
            <div id="tree" class="layui-input-inline"></div>
        </div>
        <div>
            {% for detail in form.details %}
                {{ detail.g_type }}<br>
                {{ detail.g_type_item }}<br>
                {{ detail.price }}<br>
                {{ detail.unit}}<br>
            {{detail.submit}}
            {% endfor %}
        </div>
        {{form.csrf_token}}
        {{form.submit}}
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </form>
</div>

<script>
    layui.use('tree', function() {
        var tree = layui.tree;
        var treeEl = tree.render({
            elem: '#tree',
            showCheckbox: true,
            data: [
                {title: 'title1', children: [{title: 'subtitle11'}, {title: 'subtitle12'}, {title: 'subtitle13'}]},
                {title: 'title2', children: [{title: 'subtitle21'}, {title: 'subtitle22'}, {title: 'subtitle23'}]}
            ]
        });
    });
</script>
{% endblock %}