{% extends "admin/bases.html" %}
{% import "admin/fy.html" as pg %}

{% block content %}

<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" method="post">
            {{form.name}}
            {{form.csrf_token}}
            {{form.submit}}
        </form>
    </div>

    <xblock>
        <button class="layui-btn" onclick="x_admin_show('添加订单','{{url_for("admin.add_order")}}','1150','450')">添加订单</button>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th>订单号</th>
            <th>订单总价(元)</th>
            <th>已付款(元)</th>
            <th>未付款(元)</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for i in page_data.items %}
        <tr>
            <td>{{i.order_no}}</td>
            <td>{{i.total}}</td>
            <td>{{i.pay}}</td>
            <td>{{i.unpay}}</td>
            <td>{{i.description}}</td>

            <td class="td-manage">
                <a title="详情" >
                    <i class="layui-icon">&#xe705;</i>
                </a>
                <a title="编辑" href="{{url_for('admin.add_order',edit=True, order_no=i.order_no)}}">
                    <i class="layui-icon">&#xe642;</i>
                </a>
                <a title="删除" onclick="member_del(this,'{{i.user_id}}')" href="javascript:;">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {{pg.page(page_data,'admin.order')}}

</div>
<script>
    function member_del(obj, id) {
        console.log(id)
        layer.confirm('确认要删除吗？', function (index) {
            //发异步删除数据
            $.get(
                'http://127.0.0.1:5050/admin/dellcustomer?id=' + id,
                function (html) {
                    location.reload();
                }
            );
            $(obj).parents("tr").remove();
            layer.msg('已删除!', {icon: 1, time: 1000});
        });
    }


</script>

{% endblock %}