{% extends "admin/bases.html" %}

{% block content %}
<script src="{{url_for('static',filename='js/jQuery.print.min.js')}}" charset="utf-8"></script>
<style>
.left-align {text-align: left;}
#print_body {width: 1000px; height: 100%;}
table {width: 100%; text-align: center;}
#order_info { border-bottom: 1px solid #000;margin-bottom: 2px;}
#order_info tr {height: 24px}
#order_info .subtitle {font-size: 12px;}
#order_detail { border: 1px solid #000}
#order_detail tr td{ border: 1px solid #000}
#order_detail tbody tr { height: 40px;}

@page {
    size: A4 portrait;
    margin: 40px;
}
</style>
<div style="padding: 10px 0 0 10px"><button class="layui-btn" onclick="print()">打印</button></div>
<div class="x-body">
    <div id="print_body">
        <table id="order_info">
            <tr>
                <td colspan="9" class="title"></td>
            </tr>
            <tr>
                <td colspan="9" class="sheet"></td>
            </tr>
            <tr>
                <td colspan="9" class="subtitle"></td>
            </tr>
            <tr>
                <td width="80">日期:</td>
                <td width="120" class="out_date"></td>
                <td width="80">票号:</td>
                <td width="200" class="order_no left-align"></td>
                <td width="80">客户:</td>
                <td class="guest_name left-align"></td>
                <td width="40">顶板</td>
                <td width="40">块数:</td>
                <td width="80" class="proof_block"></td>
                <td width="40">米数:</td>
                <td width="80" class="proof_length"></td>
                <!--
                <td width="80">审核状况:</td>
                <td width="100" class="check"></td>
                -->
            </tr>
            <tr>
                <td>出货状况:</td>
                <td class="out_status"></td>
                <td>联系电话:</td>
                <td class="guest_phone left-align"></td>
                <td>收款金额:</td>
                <td class="amount_receivable left-align"></td>
                <td>墙板</td>
                <td>块数:</td>
                <td class="wall_block"></td>
                <td>米数:</td>
                <td class="wall_length"></td>
                <!--
                <td>折扣金额:</td>
                <td class="discount_amount"></td>
                -->
            </tr>
        </table>
        <table id="order_detail">
            <thead>
                <tr>
                    <td width="120">品名</td>
                    <td width="220">规格</td>
                    <td width="100">每块长度</td>
                    <td width="80">数量</td>
                    <td width="120">总长</td>
                    <td width="120">单价</td>
                    <td width="120">金额</td>
                    <td width="120">含税</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<script>
$(function($){
    var query = getParams(location.search.substr(1));
    var id = query.order_id || 0;
    if(!id) {
        showMessage('参数不正确');
        return;
    }

    $.get('/inter/order_print?order_id=' + id, function(res) {
        if (res.result_code != 'success') {
            showMessage('获取订单详情失败');
            return;
        }
        var order = res.data;
        $('.title').html(order.title);
        $('.sheet').html(order.sub_title);
        $('.subtitle').html(order.connect);
        $('.out_date').html(order.out_date);
        $('.guest_name').html(order.guest_name);
        $('.guest_phone').html(order.guest_phone);
        $('.out_status').html(order.out_status);
        $('.order_no').html(order.order_no);
        
        var statis_info = order.statis_info || [];
        var proof_state = statis_info.find(function(item) {
            return item.name == '顶板';
        });

        $('.proof_block').html(proof_state.total_block || '');
        $('.proof_length').html(proof_state.total_length || '');
        var wall_state = statis_info.find(function(item) {
            return item.name == '墙板';
        });
        $('.wall_block').html(wall_state.total_block || '');
        $('.wall_length').html(wall_state.total_length || '');
        //$('.discount_amount').html(order.discount_amount);
        //$('.check').html(order.check);
        $('.amount_receivable').html(order.amount_receivable);
        $.each(order.details, function(i,item) {
            var $tr = $('<tr>');
            $tr.append($('<td>').html(item.goods_type));
            $tr.append($('<td>').html(item.type_item));
            $tr.append($('<td>').html(item.length));
            $tr.append($('<td>').html(item.num));
            $tr.append($('<td>').html(item.total_length));
            $tr.append($('<td>').html(item.price));
            $tr.append($('<td>').html(item.item_total));
            $tr.append($('<td>').html(''));
            $('#order_detail tbody').append($tr);
        });
    });
});

function print() {
    $('#print_body').print({
        globalStyles: true,
        mediaPrint: true,
        iframe: true,
        manuallyCopyFormValues: true,
        timeout: 750,
        title: '',
        doctype: '<!doctype html>'
	})
}
</script>
{% endblock %}
