{% extends "admin/bases.html" %}
{% import "admin/fy.html" as pg %}

{% block content %}

<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" method="post">
            {{form.name}}
            {{form.phone}}
            {{form.csrf_token}}
            {{form.submit}}
        </form>
    </div>
    <table class="layui-table">
        <thead>
        <tr>
            <th>客户姓名</th>
            <th>客户手机号</th>
            <th>总金额(元)</th>
            <th>已付金额(元)</th>
            <th>未付金额(元)</th>
        </tr>
        </thead>
        <tbody>
        {% for i in page_data.items %}
        <tr>
            <td>{{i.user_name}}</td>
            <td>{{i.user_phone}}</td>
            <td>{{i.total}}</td>
            <td>{{i.pay}}</td>
            <td>{{i.unpay}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {{pg.page(page_data,'admin.user_financial')}}

</div>

{% endblock %}