{% extends "admin/bases_graph.html" %}


{% block content %}

<div class="x-body layui-anim layui-anim-up">

    <div class="layui-col-md6">
        <blockquote class="layui-elem-quote">欢迎你：
        <span class="x-red">登录本系统</span>
        </blockquote>
    </div>
    <div class="layui-col-md6">
        <blockquote class="layui-elem-quote">
            <button onclick="refresh()">刷新</button>
        </blockquote>
    </div>
    <fieldset class="layui-elem-field">
        <legend>订单统计</legend>
        <div class="layui-field-box">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-carousel x-admin-carousel x-admin-backlog" lay-anim="" lay-indicator="inside"
                             lay-arrow="none" style="width: 100%; height: 90px;">
                            <div carousel-item="">
                                <ul class="layui-row layui-col-space10 layui-this">
                                    <li class="layui-col-xs2">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>当日订单量</h3>
                                            <p>
                                                <cite>{{orders.current}}</cite></p>
                                        </a>
                                    </li>
                                    <li class="layui-col-xs2">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>本周订单量</h3>
                                            <p>
                                                <cite>{{orders.this_week}}</cite></p>
                                        </a>
                                    </li>
                                    <li class="layui-col-xs2">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>本月订单量</h3>
                                            <p>
                                                <cite>{{orders.this_month}}</cite></p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="layui-elem-field">
        <legend>款项统计</legend>
        <div class="layui-field-box">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-carousel x-admin-carousel x-admin-backlog" lay-anim="" lay-indicator="inside"
                             lay-arrow="none" style="width: 100%; height: 90px;">
                            <div carousel-item="">
                                <ul class="layui-row layui-col-space10 layui-this">
                                    <li class="layui-col-xs4">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>总金额(元)</h3>
                                            <p>
                                                <cite>{{string_money.total}}</cite></p>
                                        </a>
                                    </li>
                                    <li class="layui-col-xs4">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>已付款(元)</h3>
                                            <p><cite>{{string_money.pay}}</cite></p>
                                        </a>
                                    </li>
                                    <li class="layui-col-xs4">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>未付款(元)</h3>
                                            <p>
                                                <cite>{{string_money.un_pay}}</cite></p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="layui-elem-field">
        <legend>用户数据统计</legend>
        <div class="layui-field-box">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-carousel x-admin-carousel x-admin-backlog" lay-anim="" lay-indicator="inside"
                             lay-arrow="none" style="width: 100%; height: 90px;">
                            <div carousel-item="">
                                <ul class="layui-row layui-col-space10 layui-this">
                                    <li class="layui-col-xs3">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>订单最多的用户</h3>
                                            <p>
                                                <cite>{{user_dimension.order_guest_name}}</cite></p>
                                        </a>
                                    </li>
                                    <li class="layui-col-xs3">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>订单数</h3>
                                            <p><cite>{{user_dimension.order_num}}</cite></p>
                                        </a>
                                    </li>
                                    <li class="layui-col-xs3">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>待付款最多的用户</h3>
                                            <p>
                                                <cite>{{user_dimension.financial_guest_name}}</cite></p>
                                        </a>
                                    </li>
                                    <li class="layui-col-xs3">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>未付款金额(元)</h3>
                                            <p>
                                                <cite>{{user_dimension.financial_unpay}}</cite></p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="layui-elem-field">
        <legend>订单数据统计</legend>
        <div class="layui-field-box">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-carousel x-admin-carousel x-admin-backlog" lay-anim="" lay-indicator="inside"
                             lay-arrow="none" style="width: 100%; height: 90px;">
                            <div carousel-item="">
                                <ul class="layui-row layui-col-space10 layui-this">
                                    <li class="layui-col-xs3">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>金额最大的订单</h3>
                                            <p>
                                                <cite>{{order_dimension.max_money_order_no}}</cite></p>
                                        </a>
                                    </li>
                                    <li class="layui-col-xs3">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>订单金额</h3>
                                            <p><cite>{{order_dimension.max_money_order_pay}}</cite></p>
                                        </a>
                                    </li>
                                    <li class="layui-col-xs3">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>最多订单的日期</h3>
                                            <p>
                                                <cite>{{order_dimension.most_order_date}}</cite></p>
                                        </a>
                                    </li>
                                    <li class="layui-col-xs3">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>订单数</h3>
                                            <p>
                                                <cite>{{order_dimension.most_order_date_num}}</cite></p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="layui-col-md6 " style="border-style: solid; border-width: 1px">
        <div class="layui-card" >
            <div class="layui-card-header" style="text-align: center">近7天订单情况</div>
            <div class="layui-card-body">
                <div id="order-chart" style="width: 100%; height: 400px;"></div>
            </div>
        </div>
    </div>
    <div class="layui-col-md6" style="border-style: solid; border-width: 1px">
        <div class="layui-card" >
            <div class="layui-card-header" style="text-align: center">整体销售情况</div>
            <div class="layui-card-body">
                <div id="pay-chart" style="width: 100%; height: 400px;"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var orderChart = echarts.init(document.getElementById('order-chart'));
    var  order = {{order | safe}}
    option = {
        title: {
            text: '日订单',
            left: 'left'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['订单']
        },
        grid: {
            left: '5%',
            right: '8%',
            bottom: '3%',
            containLabel: true
        },
        feature: {
            dataZoom: {
                yAxisIndex: 'none'
            },
            dataView: {readOnly: false},
            magicType: {type: ['line', 'bar']},
            restore: {},
            saveAsImage: {}
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: order['x_axis'],
            name: '日期',
            nameTextStyle: 'normal',
            axisLine: {
                lineStyle: {
                    width: 4,
                    color: '#000'
                }
            }
        },
        yAxis: {
            name: '订单数',
            type: 'value',
            axisLine: {
                lineStyle: {
                    width: 4,
                    color: '#99CCFF'
                }
            }
        },
        series: [
            {
                name: '订单',
                type: 'line',
                // stack: '总量',
                data: order['y_axis'],
                markPoint: {
                data: [
                    {type: 'max', name: '最大值'},
                    {type: 'min', name: '最小值'}
                ]
            },
            markLine: {
                data: [
                    {type: 'average', name: '平均值'},
                    [{
                        symbol: 'none',
                        x: '90%',
                        yAxis: 'max'
                    }, {
                        symbol: 'circle',
                        label: {
                            position: 'start',
                            formatter: '最大值'
                        },
                        type: 'max',
                        name: '最高点'
                    }]
                ]
            }
            }
        ]
    };
    orderChart.setOption(option);
    var payChart = echarts.init(document.getElementById('pay-chart'));
    var pay = {{num_money | safe}}
    option = {
    title: {
        text: '销售金额:￥'+ pay['total'] + "元",
        left: 'left'
    },
    tooltip: {
        trigger: 'item',
        formatter: '{a} <br/>{b} : {c} ({d}%)'
    },
    legend: {
        orient: 'vertical',
        left: 'right',
        data: ['已付款金额:￥' + pay['pay'] + "元", '未付款金额:￥' + pay['un_pay'] + "元", "aa"]
    },
    series: [
        {
            name: '销售金额',
            type: 'pie',
            radius: '55%',
            center: ['50%', '60%'],
            data: [
                {value: pay['pay'], name: '已付款金额:￥' + pay['pay'] + "元"},
                {value: pay['un_pay'], name: '未付款金额:￥' + pay['un_pay'] + "元"}
            ],
            emphasis: {
                itemStyle: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};
    payChart.setOption(option);

    function refresh() {
        location.reload()
    }
</script>

{% endblock %}